<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MyAwesomeSite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
    <meta property="og:title" content="MyAwesomeSite"/>
    <meta property="og:image" content="favicon.ico"/>
    <meta property="og:site_name" content="MyAwesomeSite"/>
    <meta property="og:description" content="MyAwesomeSite descr"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <meta http-equiv="Pragma" content="no-cache">
    <% for (var index in htmlWebpackPlugin.files.js) { %>
        <% if (htmlWebpackPlugin.files.jsIntegrity) { %>
        <script
                async
                src="<%= htmlWebpackPlugin.files.js[index] %>"
                integrity="<%= htmlWebpackPlugin.files.jsIntegrity[index] %>"
                crossorigin="<%= webpackConfig.output.crossOriginLoading %>"
        ></script>
        <% }  else { %>
            <script async
                    crossorigin="<%= webpackConfig.output.crossOriginLoading %>"
                    type="text/javascript"
                    src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
        <% } %>
    <% } %>
    <% for (var index in htmlWebpackPlugin.files.css) { %>
        <% if (htmlWebpackPlugin.files.cssIntegrity) { %>
        <link
                rel="stylesheet"
                href="<%= htmlWebpackPlugin.files.css[index] %>"
                integrity="<%= htmlWebpackPlugin.files.cssIntegrity[index] %>"
                crossorigin="<%= webpackConfig.output.crossOriginLoading %>"
        />
        <% }  else { %>
            <link
                    rel="stylesheet"
                    href="<%= htmlWebpackPlugin.files.css[index] %>"
                    crossorigin="<%= webpackConfig.output.crossOriginLoading %>"
            />
        <% } %>
    <% } %>
</head>
<body>
    <div id="app"></div>
</body>
</html>
